// TYPOGRAPHY
// Define all typographic styles in this file.

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

h1 {
  font-size: rem(36px);
}

h2 {
  font-size: rem(30px);
}

h3 {
  font-size: rem(24px);
}

h4 {
  font-size: rem(14px);
}

h5 {
  font-size: rem(16px);
}

h6 {
  font-size: rem(12px);
}

a {
  color: $link-color;
  text-decoration: none;

  &:active,
  &:hover {
    color: $link-color-hover;
  }
}

.Collapsible {
  margin-bottom: rem(20px);

  &__trigger {
    background-color: $primary-color;
    padding: rem(10px);
    display: block;
    color: $white;
    position: relative;
    cursor: pointer;

    &.is-closed {
      &:after {
        @extend %icons;
        @etend .icon-triangle-down;
        position: absolute;
        color: black;
        right: 0;
        font-size: rem(18px);
      }
    }
  }


  &__contentInner {
    padding: rem(20px);
  }
}
